@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.projects {
  background-color: $silver;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include tablet {
    padding: 2rem 1.25rem;
  }
  &__container {
    @include tablet {
      @include max-width;
    }
  }
  &__header {
    @include txt-mob-sect-header;
    @include tablet {
      @include txt-section-header;
    }
  }
  &__subheader {
    &:hover {
      color: $green;
    }
  }
  &__img {
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    width: 16rem;
    @include tablet {
      width: 20rem;
    }
    &:hover {
      scale: 1.1;
    }
  }
  &__list-item {
    padding-bottom: 2rem;
    border-bottom: 1px solid $green;
    margin-bottom: 2rem;
    &--last {
      border: none;
    }
  }
  &__list-box {
    @include tablet {
      display: flex;
      gap: 2rem;
    }
  }
}
