@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.education {
  background-color: $black;
  padding: 2rem 1rem;
  @include tablet {
    padding: 2rem 1.5rem;
  }
  &__container {
    @include desktop {
      @include max-width;
    }
  }
  &__header {
    color: $green;
    @include txt-mob-sect-header;
    @include tablet {
      @include txt-section-header;
    }
  }
  &__subheader {
    color: $white;
  }
  &__txt {
    color: $white;
  }
  &__list-item {
    padding-bottom: 1rem;
    border-bottom: 1px solid $green;
    &--last {
      border: none;
      padding: 1rem 0;
    }
  }
}
