@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include txt-mob-body;
  @include tablet {
    @include txt-body;
  }
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}
