@font-face {
  font-family: "Alata-Regular";
  src: url("../../assets/fonts/Alata-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono-Regular";
  src: url("../../assets/fonts/RobotoMono-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono-Medium";
  src: url("../../assets/fonts/RobotoMono-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono-SemiBold";
  src: url("../../assets/fonts/RobotoMono-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
