@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.header {
  background-color: $black;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    color: $silver;
    padding: 0 1rem;
    border-right: 2px solid $silver;
    &--last {
      border-right: none;
    }
  }
}
